# Laravel
/vendor
/node_modules
/public/storage
/public/hot
/storage/*.key
/.env
/.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Homestead
Homestead.yaml
Homestead.json

# PHPUnit
/phpunit.xml
/tests/

# Composer
/composer.lock
